src/*.exe
src/mxcoin
src/mxcoind
src/test_mxcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.mxcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
mxcoin-qt
Mxcoin-Qt.app

# Unit-tests
Makefile.test
mxcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
